@model SonoSage.ViewModels.RelatorioVm


@{ ViewData["Title"] = "Home"; }

<script src="~/js/gauge.min.js"></script>

<br />
<br />
<br />
<div class="container">
<div class="row">
        <div class="col-lg-12 text-center">
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <span style="font-style:normal" >@Model.LastSet.DateOnlyString @Model.LastSet.TimeOnlyString</span>

        <canvas data-type="radial-gauge"
                data-major-ticks="0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140"
                data-title="Decibelímetro"
                data-units="dB"
                data-width="500"
                data-height="500"
                data-value-int="0"
                data-value-dec="0"
                data-value="@Model.LastSet.Db"
                data-min-value="0"
                data-max-value="140"
                data-highlights="true"></canvas>
    </div>
</div>
</div>


@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(function () { drawChart(); });
        $(window).resize(function () { drawChart(); });
    </script>

}