@model ArduinoWeb.ViewModels.MedicaoVm
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron" style="padding-top: 10px; padding-bottom: 10px;">
    <h3></h3>
    <p>Arduino - web.</p>
</div>

<div class="row">
    <div class="col-lg-3">

        <div class="form-group" style="margin-bottom: 20px">
            <label for="devicesMenu">Leitura:   @Model.Decibel</label> 

           
        </div>


      
     

    </div>
    <div class="col-lg-9">
    </div>
</div>

@section Scripts {

}